@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

:root {
  --nextra-navbar-height: 6rem;
}

.nextra-toc > div {
  @apply top-[var(--nextra-navbar-height)];
}

.nextra-sidebar-container {
  @apply !py-9;
}

.nextra-toc {
  @apply !py-12;
}

.nextra-button[title="Toggle word wrap"] {
  @apply md:inline-flex;
}

@media (min-width: 768px) {
  html[data-nextra-word-wrap] pre .line {
    word-break: break-word;
    white-space: pre-wrap;
  }
}

article > main {
  @apply !pt-12;
}

.-nx-mt-20 {
  @apply !-mt-28;
}

.brand-gradient {
  @apply bg-gradient-to-br from-indigo-700 from-10% via-purple-500 via-30% to-pink-500 to-90% saturate-[115%];
}

.hover-brand-gradient:hover {
  @apply bg-gradient-to-br from-indigo-700 from-10% via-purple-600 via-30% to-pink-600 to-90% saturate-[115%];
}

.nextra-sidebar-container a[href="https://webscope.io"],
.nextra-nav-container a[href="https://webscope.io"] span
{
  @apply underline underline-offset-[6px];
}
