/** @type {import('tailwindcss').Config} */
@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

* {
	scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

.shiki {
	@apply m-0 w-full rounded-b-md pb-5 shadow-lg;
}

.shiki code {
	@apply grid;
}

.shiki .line {
	@apply relative px-12 text-sm leading-6 [&>span]:whitespace-pre-wrap w-full [&>span]:max-sm:break-all;
}

.shiki .line[data-line]:before {
	@apply -ml-7 mr-5 inline-flex min-w-[2ch] justify-end text-slate-500 opacity-40 content-[attr(data-line)];
}

pre {
    white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */;
}

code {
  counter-reset: line;
}

code > [data-line] {
  position: relative;
}

code > [data-line]::before {
    counter-increment: line;
    content: counter(line);

    /* Other styling */
    display: inline-block;
    width: 1rem;
    margin-left: -1.75rem;
    margin-right: 1.25rem;
    text-align: right;
    color: rgb(100 116 139);
    opacity: 40%;
}

code[data-line-numbers-max-digits='2'] > [data-line]::before {
  width: 2rem;
}

code[data-line-numbers-max-digits='3'] > [data-line]::before {
  width: 3rem;
}